*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --primary-clr1: hsl(7, 99%, 70%);
    --primary-clr2: hsl(51, 100%, 49%);
    --primary-clr3: rgb(61, 190, 255);
    --primary-clr-design: hsl(167, 40%, 24%);
    --primary-clr-photo: hsl(198, 62%, 26%);
    --primary-clr-footer: hsl(168, 42%, 55%);

    --neutral-clr-dark: hsl(212, 27%, 19%);
    --neutral-clr-dark2: hsl(213, 9%, 39%);
    --neutral-clr-dark3: hsl(232, 10%, 55%);
    --neutral-clr-light1: hsl(210, 4%, 67%);
    --neutral-clr-light2: hsl(0, 100%, 99%);
}

body {
    margin: 0;
    font-family: 'Barlow', sans-serif;
    background: var(--neutral-clr-light2);
    line-height: 1.5;
}
.container {
    margin: 0 auto;
    width: 90%;
    position: relative;

}

img {
    max-width: 100%;
}

h1, h2, h3, p {
    margin: 0;
}

header {
    position: fixed;
    width: 100%;
    background: var(--primary-clr3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0;
}


/* Mobile nav */

.nav-toggle {
    padding: .8em .2em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 0;
    z-index: 99;
    margin-top: .25em;
}
.navbar {
    position: fixed;
    margin: 4em 2.5em 9em;
    clip-path: polygon(0 100%, 100% 100%, 100% 0, 88% 13%, 0 13%);
    background: var(--neutral-clr-light2);
    color: var(--neutral-clr-dark2);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;

    transform: translateX(120%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
    box-shadow: 2px 2px 12px rgba(114, 157, 157, .5);

}

.menu {
    /* border: 1px solid blue; */
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 3em 1em .5em;
}

ul {
    list-style: none;
}

.nav-link {
    text-align: center;
}

.nav-open .nav-toggle {
    position: fixed;
    right: 3em;
    /* box-shadow: 2px 2px 10px rgba(2, 2, 2, .4); */

    
}
.nav-open .navbar {
    transform: translateX(0);

}
.nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-9px);
}
.nav-open .hamburger {
    width: 2em;
    transform: rotate(.625turn);
}
.nav-open .hamburger::after {
    opacity: 0;
}
.hamburger {
    display: block;
    position: relative;
}
.hamburger,
.hamburger::before,
.hamburger::after {
    background: var(--neutral-clr-light2);
    width: 1.5em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
}
.hamburger::before {
    width: 2em;
    top: 9px;
}
.hamburger::after {
    width: 2em;
    bottom: 9px;
}

.nav-link a, .menu-link a{
    text-decoration: none;
    color: var(--neutral-clr-dark3);
    font-size: 1.2rem;
    transition: opacity 300ms ease-in-out;
}

.menu-link a:hover {
    opacity: .5;
}

.cta-btn a {
    font-family: 'Fraunces', serif;
    background: var(--primary-clr2);
    padding: .8em 1.5em;
    border-radius: 50px;
    text-transform: uppercase;
    color: var(--neutral-clr-dark);
    transition: background 300ms ease-in-out;
}
.cta-btn a:hover{
    background: hsl(44, 100%, 49%);
}
/* Hero section */
.hero {
    background: var(--primary-clr3);
    padding-top: 4em;
    min-height: 550px;
    background: url(../images/mobile/image-header.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100%;
}

.title {
    text-align: center;
    font-family: 'Fraunces', serif;
    font-size: 2.5rem;
    color: var(--neutral-clr-light2);
    text-transform: uppercase;
    line-height: 1.2;
    letter-spacing: 6px;
    margin: 2em 0;
}

.arrow {
    display: block;
    margin: 0 auto;
}

.egg {
    background-image: url(../images/mobile/image-transform.jpg);
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.glass {
    background-image: url(../images/mobile/image-stand-out.jpg);
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.cherry {
    background-image: url(../images/mobile/image-graphic-design.jpg);
    height: 600px;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}
.orange {
    background-image: url(../images/mobile/image-photography.jpg);
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.text-bg {
    padding-top: 18em;
}
.photo-clr, .photo-clr h2, .photo-clr p {
    color: var(--primary-clr-photo);
}
.design-clr, .design-clr h2, .design-clr p {
    color: var(--primary-clr-design);
}

.about-description {
    margin: 0 auto;
    text-align: center;
    padding: 5em 1em;
}

.subtitle {
    font-family: 'Fraunces', serif;
    font-size: 2rem;
    line-height: 1.2;
    margin-bottom: 1em;
    color: var(--neutral-clr-dark);

}

.about-body{
    font-size: 1rem;
    color: var(--neutral-clr-dark2);
    font-weight: 400;
    margin-bottom: 2em;
}

.more-link {
    font-family: 'Fraunces', serif;
    font-size: 1rem;
    text-transform: uppercase;
    color: var(--neutral-clr-dark);
    letter-spacing: 2px;
    display: inline;
    cursor: pointer;
  

}
a {
    text-decoration: none;
}
.light{
    position: relative;
}
.highlight::after{
    background: var(--primary-clr2);
    content: ' ';
    width: 50%;
    height: 40%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 60%;
    margin-left: -.1em ;
    border-radius: 6px;
    z-index: -1;
}

/* Testimonials */

.testimonials {
    text-align: center;
    padding: 4em 0 0;
}
.client {
    padding: 1em;
}

.client-photo {
    border-radius: 50% ;
    width: 4em;
    height: 4em;
    margin: 2em 0;
}

.section-title {
    font-size: 1rem;
    font-family: "Fraunces", serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: var(--neutral-clr-light1);
}

.client-body{
    color: var(--neutral-clr-dark2);
    margin-bottom: 1.5em;
}
.client-name{
    font-family: "Fraunces", serif;
    color: var(--primary-clr-dark);
}
.client-role {
    font-size: .8rem;
    color: var(--neutral-clr-light1);
    letter-spacing: 2px;
    margin: .5em 0;
}

.testimonial-img{
    margin-top: 2em;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: fit-content(50%);
}

footer {
    background: var(--primary-clr-footer);
    text-align: center;
    padding: 3em 0 1em;
}

.footer-links {
    padding: 2em;
    display: flex;
    justify-content: space-between;
    color: var(--primary-clr-design);
    margin-bottom: 3em;
}
.footer-links a {
    color: var(--primary-clr-design);
    cursor: pointer;
    transition: opacity 300ms ease-in-out;
}
.footer-links a:hover{
    opacity: .5;
}

.logo-footer path {
    fill: #124d40;
}
.socials {
    padding: 0 5em;
    display: flex;
    justify-content: space-between;
    margin-bottom: 4em;

}

.socials a {
    cursor: pointer;
    transition: opacity 300ms ease-in-out;
}
.socials a:hover{
    opacity: .5;
}

.attribution {
    color: #124d40;
}

.attribution a {
    color: #1a6d5b;
}

@media (min-width: 800px){
    .about {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .transform {
        order: 1;
    }
    .egg {
        background-image: url(../images/desktop/image-transform.jpg);
        height: 300px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        order: 2;
        padding: 3em;
        height: 100%;
    }
    .glass {
        background-image: url(../images/desktop/image-stand-out.jpg);
        height: 300px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        order: 3;
        height: 100%;
    }
    .cherry {
        background-image: url(../images/desktop/image-graphic-design.jpg);
        height: 400px;
        background-repeat: no-repeat;
        background-position: top;
        background-size: fill;
        order: 5;
        padding: 4em;
    }
    .orange {
        background-image: url(../images/desktop/image-photography.jpg);
        height: 400px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: fill;
        order: 6;
        padding: 4em;
    }
 
    .standout {
        order: 4;
    }

    .about-description{
        padding: 1em 4em;
    }
    .text-bg {
        padding-top: 14em;
    }
    .about-description-desktop{
        padding: 4em;
        text-align: left;
    }
    .cherry .subtitle, .orange .subtitle {
        font-size: 1.3rem;
    }
    .cherry .about-body, .orange .about-body {
        font-size: .9rem;
    }
    .client {
        padding: 1em 8em;
    }

    .footer-links {
        padding: 2em 8em;
    }
    .socials {
        padding: 0 12em;
    }
    .highlight::after {
        left: 4.2em;
    }
}

@media (min-width: 1000px) {
    .hamburger {
        display: none;
    }
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navbar {
    position: relative;
    width: 100%;

    margin: 0;
    padding: 0;
    background: transparent;
    color: #fff;
    clip-path: none;
    box-shadow: none;
    /* border: 1px solid blue; */
    
    transform: translateX(0%);
    }
    .menu {
        flex-direction: row;
        padding: .8em 0 1em 20em;
        justify-content: flex-end;
    }
    .nav-link a {
        color: #fff;
        font-size: 1rem;
        margin-left: 3em;
    }
    .cta-btn a {
        background: #fff;
        color: var(--primary-clr-design);
    }

    .hero {
        background: var(--primary-clr3);
        padding-top: 4em;
        min-height: 550px;
        background: url(../images/desktop/image-header.jpg);
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: 100%;
    }

    .transform, .egg, .cherry, .orange, .standout, .glass {
        padding: 8em 6em;
    }
    .cherry, .orange {
        height: 500px;
    }
    .clients-section {
        display: flex;
        justify-content: space-between;
    }
    .client {
        padding: 3em;
    }
    .testimonial-img{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .footer-links {
        padding: 2em;
        justify-content: center;
    }
    .footer-links a {
        margin: 0 2em;
    }
    .socials {
        padding: 0 28em;
    }
  
}










